body{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
h1
{
   color: mediumvioletred;
   font-family: cursive;
   width: 100%;
   background-color: lemonchiffon;
}
.sub-heading
{
    background-color: rgb(133, 255, 208);
    color: mediumorchid;
    font-family: cursive;
    border-width: 5px;
    border-color: midnightblue;
    border-radius: 6px;
    width:120px;
    height: 40px;
    font-size:15px;
}